:root {
    --white-color: #fff;
    --red-color: #ff385c;
    --black-color: #222222;
    --dark-color: #000000;
    --grey-color: #717171;
    --border-color: #dddddd;
    --gray-background: #f7f7f7;
    --header-height: 6.4rem;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
}
