.price-preview {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #f7f7f7;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-preview a {
    margin-left: 8px;
    color: var(--black-color);
}

.container {
    width: calc(100% - 8rem);
    margin: 0 auto;
}

/* HEADER */
#header {
    font-size: 1.4rem;
}

.header__container {
    height: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
}

/* 1.2: middle */
.header__search-bar {
    background-color: var(--white-color);
    padding: 0 2.4rem;
}

.search-bar__group {
    display: flex;
    height: 4.8rem;
    border: 1px solid var(--border-color);
    border-radius: 500px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease;
}

.search-bar__group:hover {
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.1);
}

.search-bar__btn {
    padding: 0 1.6rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.search-bar__btn:first-child {
    padding-left: 2.4rem;
}

.search-bar__btn:not(:last-child) {
    font-weight: 600;
}

.search-bar__btn:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 50%;
    background-color: var(--border-color);
    width: 1px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar__btn--with-search {
    display: flex;
    align-items: center;
    padding-right: 0;
}

.search-icon {
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 50%;
    background-color: var(--red-color);
    color: var(--white-color);
    margin: 0 7px 0 16px;
}

/* 1.3: right */
.header__right-menu {
    display: flex;
    justify-content: end;
    align-items: center;
}

.airbnb-link {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: 500px;
}

.airbnb-link:hover {
    background-color: var(--gray-background);
}

.language-setting img,
.account-setting img {
    /* 
    Giúp div bao bên ngoài set height dựa trên height
    của img để center chiều dọc
    */
    display: block;
}

.language-setting {
    padding: 1.3rem 1.4rem;
    border-radius: 45%;
    cursor: pointer;
}

.language-setting:hover {
    background-color: var(--gray-background);
}

.account-setting {
    margin-left: 8px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 500px;
    padding: 5px 5px 5px 12px;
    cursor: pointer;
}

.account-setting:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.account-avatar {
    margin-left: 1.2rem;
}

.account-avatar img {
    height: 3rem;
}

/* NAVBAR */
#navbar {
    padding: 2rem 4rem 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #ebebeb;
    transition: all 0.1s linear;
}

.navbar-buttons-container {
    overflow: hidden;
    position: relative;
}

/* 1. Slider wrapper */
.slider-wrapper {
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider-wrapper::-webkit-scrollbar {
    display: none;
}

/* navigation buttons */
.prev-button-container,
.next-button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.prev-button-container {
    left: 0;
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        white 4rem
    );
    /* default prev button is hidden */
    display: none;
}

.next-button-container {
    right: 0;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        white 4rem
    );
}

.prev-button-container::after,
.next-button-container::before {
    content: "";
    display: block;
    width: 4rem;
    height: 100%;
}

.prev-button,
.next-button {
    height: 2.8rem;
    width: 2.8rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.3rem;
}

.prev-button i,
.next-button i {
    /* increase icon font-weigth */
    -webkit-text-stroke: 0.5px;
}

/* slider and item */
.nav-slider {
    display: flex;
    column-gap: 3.2rem;
    align-items: center;
    list-style: none;
}

.nav-slider__item {
    /* item not grow, shrink and has width of it's content */
    flex: 0 0 auto;
    font-size: 1.2rem;
    padding: 4px 0 14px;
    margin-top: 1.2rem;
    transition: all 0.2s linear;
    min-width: 5.4rem;
}

.nav-slider__item:hover {
    cursor: pointer;
}

.nav-slider__item:hover .nav-slider-item__btn img {
    filter: opacity(100%);
}

.nav-slider__item:hover .nav-slider-item__btn span {
    color: var(--dark-color);
    position: relative;
}

.nav-slider__item:hover .nav-slider-item__btn span::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #dddddd;
    left: 0;
    right: 0;
    top: calc(100% + 1.2rem);
}

.nav-slider-item__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: var(--grey-color);
    font-weight: 600;
    width: 100%;
}

.nav-slider-item__btn span {
    letter-spacing: -0.3px;
}

.nav-slider-item__btn img {
    filter: opacity(60%);
}

.nav-slider__item--clicked {
    cursor: default;
    pointer-events: none;
}

.nav-slider__item--clicked .nav-slider-item__btn span {
    color: var(--dark-color);
    position: relative;
}

.nav-slider__item--clicked .nav-slider-item__btn span::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: var(--dark-color);
    left: 0;
    right: 0;
    top: calc(100% + 1.2rem);
}

.nav-slider__item--clicked .nav-slider-item__btn img {
    filter: opacity(100%);
}

/* 2. Navbar filter */
.nav-filter {
    display: flex;
    justify-content: flex-end;
    min-width: 110px;
}

.nav-filter__btn {
    display: flex;
    align-items: center;
    padding: 1.6rem 1.7rem;
    column-gap: 7px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--border-color);
    border-radius: 1.2rem;
    cursor: pointer;
}

.nav-filter__btn > * {
    display: block;
}

.nav-filter__btn img {
    width: 1.4rem;
}

.nav-filter__btn span {
    letter-spacing: -0.2px;
}
